body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #bbb483;
}

.loading-container {
    text-align: center;
}

.loading-circle {
    width: 100px;
    height: 100px;
    border: 8px solid #642b73; /* Un violet solide */
    border-top: 8px solid transparent;
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
    margin: 0 auto;
}

.loading-text {
    margin-top: 20px;
    font-size: 20px;
    color: #333;
    font-weight: bold;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.dot {
    animation: blink 1.4s infinite;
    opacity: 0;
}

.dot:nth-child(1) { animation-delay: 0.2s; }
.dot:nth-child(2) { animation-delay: 0.4s; }
.dot:nth-child(3) { animation-delay: 0.6s; }

@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
