html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    background: #333;
}
  
body {
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;
}
  
a {
    text-decoration: none;
    display: inline-block;
}
  
.btn {
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: relative;
    width: 200px;
    transition: all .3s ease-out;
}
  
.flip-front, .flip-back {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform-style: flat;
    transition: transform .3s ease-out;
}
  
.flip-front {
    background: linear-gradient(to right, #4a69bb, #8e37a8);
    color: white;
    border: 2px solid transparent;
    transform: rotateX(0deg) translateZ(25px);
}
  
.flip-back {
    background: linear-gradient(to right, #8e37a8, #4a69bb);
    color: white;
    border: 2px solid transparent;
    transform: rotateX(90deg) translateZ(25px);
}
  
.btn:hover .flip-front {
    transform: rotateX(-90deg) translateZ(25px);
}
  
.btn:hover .flip-back {
    transform: rotateX(0deg) translateZ(25px);
}
