* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: url(./assets/galaxybg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(40px);
    border-right: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 6px 14px;
    transition: .5s;
}

.sidebar.active {
    width: 260px;
}

.sidebar .logo-menu {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
}

.sidebar .logo-menu .logo {
    font-size: 25px;
    color: #fff;
    pointer-events: none;
    opacity: 0;
    transition: .3s;
}

.sidebar.active .logo-menu .logo {
    opacity: 1;
    transition-delay: .2s;
}

.sidebar .logo-menu .toggle-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    transition: .5s;
}

.sidebar.active .logo-menu .toggle-btn {
    left: 90%;
}

.sidebar .list {
    margin-top: 10px;
}

.list .list-item {
    list-style: none;
    width: 100%;
    height: 50px;
    margin: 5px 0;
    line-height: 50px;
}

.list .list-item a {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    white-space: nowrap;
    transition: .5s;
}

.list .list-item.active a,
.list .list-item a:hover {
    background: rgba(255, 255, 255, .2);
}

.list .list-item a i {
    min-width: 50px;
    height: 50%;
    text-align: center;
    line-height: 50px;
}

.sidebar .link-name {
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
}

.sidebar.active .link-name {
    opacity: 1;
    pointer-events: auto;
    transition-delay: calc(.1s * var(--i));
}
