@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Oswald', sans-serif;
}

.social {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100vw;
    height: 100vh;
    background: #000;
}

ul {
    list-style: none;
    padding: 0;
    transform: translate(-200px, 0);
}

li {
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.4);
    width: 250px;
    text-align: right;
    padding: 10px;
    border-radius: 0 30px 30px 0;
    transition: all 1s;
}

li:hover {
    transform: translate(100px, 0);
    background: rgba(255, 255, 255, 0.2);
}

li:hover  i {
    color: #fff;
    background-color: var(--i);
    transition: all 1s;
    transform: rotate(360deg);
}

a {
    color: #fff;
    text-decoration: none;
    display: block;
}

i {
    margin-left: 10px;
    color: var(--i);
    background: #fff;
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    aspect-ratio: 1/1;
    font-size: 20px;
    background: #ffffff;
    text-align: center;
    transform: rotate(0deg);
}
