body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #4b4a4a;
}

.hamburger-menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
}

#hamburger-icon, .close {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.menu-contents {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: -2px 0px 5px rgba(0,0,0,0.5);
    transition: right 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-contents a {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: color 0.3s, transform 0.3s;
}

.menu-contents a:hover {
    color: #ddd;
    transform: scale(1.1);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
}

.show {
    right: 0;
}
