body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #a8a8a8;
}

.card {
    width: 300px;
    height: 200px;
    perspective: 1000px; /* Crée l'effet 3D */
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden; /* Cache l'arrière de la carte lorsqu'elle est retournée */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform 0.6s;
}

.card-front {
    background: linear-gradient(60deg, #8a2387, #e94057, #f27121, #8a2387, #e94057, #f27121);
    background-size: 300% 300%;
    animation: gradientAnimation 10s ease-in-out infinite;
}

@keyframes gradientAnimation {
    0%, 100% { background-position: 0% 50%; }
    25% { background-position: 50% 50%; }
    50% { background-position: 100% 50%; }
    75% { background-position: 50% 50%; }
}

.card-back {
    background-color: #FFF;
    color: #333;
    transform: rotateY(180deg); /* Retourne l'arrière de la carte pour qu'elle soit face cachée initialement */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card:hover .card-front {
    transform: rotateY(-180deg);
}

.card:hover .card-back {
    transform: rotateY(0deg);
}
