* {
    box-sizing: border-;
}

body {
    background-color: #191918;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Open Sans", sans-serif;
}

html, body {
    height: 100%;
}

.custom-textbox {
    position: relative;
}

.custom-textbox input {
    width: 300px;
    height: 60px;
    border-radius: 30px;
    background: transparent;
    border: 1px solid #ffffff;
    padding-left: 126px;
    font-size: 16px;
    font-family: inherit;
    color: rgb(255, 255, 255, 96%);
    transition: 0.3s;
    outline: none;
}

.custom-textbox label {
    position: absolute;
    display: grid;
    place-items: center;
    transform-origin: 0% 0%;
    pointer-events: none;
    top: 4px;
    left: 4px;
    height: 52px;
    width: 110px;
    border-radius: 27px;
    background: transparent;
    border: 2px solid #5071fa;
    color: #5071fa;
    transition: 0.3s;
    cursor: pointer;
}

.custom-textbox input::placeholder {
    color: rgba(255, 255, 255, 50%);
}

.custom-textbox input:focus,
.custom-textbox input:valid {
    border: 2px solid #5071fa;
    padding-left: 20px;
}

.custom-textbox input:focus ~ label,
.custom-textbox input:valid ~ label {
    transform: translate(-6px, -54px) scale(0.825);
    background: transparent;
    border: 2px solid #5071fa;
    color: #5071fa;
    box-shadow: 0 0 10px #5071fa;
    transition: all 0.3s;
}
