body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #757575;
}

.container {
    width: 80%;
}

.navbar {
    background: radial-gradient(rgb(219, 234, 254), rgb(147, 197, 253), rgb(59, 130, 246));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
}

.logo img {
    max-height: 40px;
}

.categories {
    list-style: none;
    padding: 0;
    display: flex;
}

.categories li {
    margin-right: 20px;
    transition: 0.3s;
}

.categories li:last-child {
    margin-right: 0;
}

.categories li:hover {
    transform: translateY(-5px);
}

.categories a {
    text-decoration: none;
    color: #7a7a7a;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background 0.3s ease, color 0.3s ease;
}

.categories a:hover {
    color: black;
}

