* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
  padding: 20px 0;
}

.app {
  max-width: 768px;
  margin: auto;
  padding: 0 20px;
}

.post-card {
  background-color: #ffffff;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
}

.post-username {
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}

.post-content {
  color: #666;
  font-size: 16px;
  margin-bottom: 20px;
}

.post-actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.like-button,
.delete-button {
  background-color: #022142;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.delete-button {
  background-color: #bb1313;
}

.like-button:hover {
  background-color: rgb(35, 63, 94);
}

.delete-button:hover {
  background-color: #c82333;
}

.likes-count {
  font-weight: bold;
  margin-right: 10px;
}

.post-form {
  margin-bottom: 40px;
}

.input-username,
.input-content {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.submit-button {
  width: 100%;
  background-color: #040d61;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #14218f;
}

.posts-container {
  margin-top: 20px;
}