body {
    background: #686666;
}
  
svg {
    stroke: none;
    fill: none;
    display: none;
    position: absolute;
}
  
canvas {
    position: absolute;
    display: block;
    margin: -100px -100px;
    top: 50%;
    left: 50%;
}
