body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; 
}

#color-info {
    margin-bottom: 20px;
    font-size: 16px;
    color: #ffffff;
}

.btn-container {
    text-align: center;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #17304b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #051a30;
}
