@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.quote-container {
    width: 400px;
    position: absolute;
    top: 50%;
    padding: 0px 10px 10px 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background: #a0e9ff;
    background: -webkit-linear-gradient(0deg, #a0e9ff 0%, #a8f0ff 50%, #c6f5ff 100%);
    background: linear-gradient(0deg, #a0e9ff 0%, #a8f0ff 50%, #c6f5ff 100%);
}

.quote-container h2 {
    position: relative;
    color: #2b2f77;
    text-align: center;
    margin: 10px 0;
}

.quote-container h2::after {
    content: '';
    position: absolute;
    bottom: -5px;
    transform: translate(-50%, -50%);
    left: 50%;
    height: 2px;
    width: 30%;
    border-radius: 10px;
    background: rgb(236, 227, 227);
}

.quote-content {
    margin-top: 15px;
    text-align: center;
    padding: 10px;
}

.quote {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 500;
}

#nextQuote {
    border: none;
    background-color: #fff;
    color: #000;
    padding: 6px 10px;
    margin-top: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s;
}

button:hover {
    transform: translateY(-4px);
    box-shadow: 5px 5px 10px rgba(68, 64, 64, 0.525);
}
