html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #f5f7fa 0%, #c3cfe2 100%);
}

#stopwatch {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(to right, #474bff 0%, #bc48ff 100%);
    color: white;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#display {
    font-size: 2em;
    margin-bottom: 10px;
}

button {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
